.node a {
  display: inline-block;
  margin: 0 10px 0 10px;
}

div.name {
  display: inline-block; 
}

div.name:focus {
  outline: none;
  background-color: #f5f5aa;
}

div.node div.children {
  margin-left: 30px;
}
