.tree {
  font: 1rem sans-serif;
  line-height: 1.5;
}

.node {
  display: block;
}

.node a {
  display: inline-block;
  position: absolute;
  margin: 0 10px 0 10px;
}

.node .name {
  display: block;
  position: relative;
  /* pre-wrap makes whitespace show up at the beginning and end! required for merging/splitting of nodes */
  white-space: pre-wrap;
  word-wrap: break-word;
  /* min-width (or a similar trick) is required to make the cursor show in Chrome when the element is empty */
  min-width: 20px;
  /* leaves space for the bullet since that is positioned absolute */
  margin-left: 30px;
}

.node .name:focus {
  outline: none;
  background-color: #f5f5aa;
}

.node .children {
  margin-left: 24px;
}

/* ROOT node is special, we hide and only show the children */
.node.root > a {
  display: none;
}

.node.root > .name {
  display: none;
}

.node.root > .children {
  margin-left: 0;
}

/* The first node in a tree is special (when not root node), we show it really big, without the star */
.node.first > .name {
  font-size: 150%;
  margin: 6px;
}

.node.first > a {
  display: none;
}
